<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Vite + React + TS</title>
    {{!-- <script type="module" crossorigin src="/assets/index.2a791a64.js"></script> --}}
    {{{scriptHTML}}}
  </head>
  <body>
    {{{appHTML}}}
  </body>
</html>